
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Poppins";
}

.background{
    background-image: url(./66fa3073-05cf-4970-8c55-2a85b32ff4e4_900_900.jpeg);
    height: 100vh;
    width: 100%;
    background-size: cover;
display: grid;
place-content: center;
}
.box{
    background: rgba(240, 240, 240, 0.68);
    border-width: 0px 2px 1px 0px;
    border-style: solid;
    border-color: #fcddec;
    box-shadow: 0px 19px 41px rgba(0, 0, 0, 0.36);
    border-radius: 20px;
    height: 320px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}
#questionForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .box h2 {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1.2px;
    line-height: 48px;
    color: rgb(228, 11, 228);
  }
  .box h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 54px;
  }

  #answerInput {
    background: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
  }
  #answerInput:focus-visible {
    outline: 1px solid rgb(228, 11, 228);
    border: 2px solid rgb(228, 11, 228);
  }
  
  .primary-btn {
    height: 46px;
    background-color:rgb(228, 11, 228);
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: white;
    font-size: 32px;
  }

  @media (max-width: 786px) {
    .box {
      width: 80%;
      height: 360px;
      padding: 20px;
      margin: 0 auto;
    }
    .box h2 {
      font-size: 35px;
      line-height: 40px;
      
    }
    .box h3 {
      font-size: 24px;
      line-height: 32px;
    }
    #answerInput {
      padding: 5px 20px;
    }
    .primary-btn {
      font-size: 24px;
      height: 36px;
    }
  }